@page "/Customers"
@using KubeTMS.Shared
@using KubeTMS.Shared.Domain
@using KubeTMS.Shared.Dtos
@inject HttpClient Http

<PageTitle>Customers</PageTitle>

<h1>Customers</h1>

@if (customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>
                        @customer.Name
                        <div>
                            <span class="text-muted">@customer.CustomerNumber</span>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<CustomerReadDto> customers;

    protected override async Task OnInitializedAsync()
    {
        customers = await Http.GetFromJsonAsync<List<CustomerReadDto>>("Customers");
    }
}
